{% extends 'base.html' %}
{% block title %}LPI Subindex{% endblock title %}

{% block body %}

  
  <form method="POST">
    {% csrf_token %}
   <html>
<head>
    <title>LPI Sub index</title>
</head>
<body>
    <h2>Inorganic Sub Index Calculator</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="parameter1">Parameter 1:PH</label>
        <input type="text" name="parameter" id="parameter1">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter2">Parameter 2:TKN</label>
        <input type="text" name="parameter" id="parameter2">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter3">Parameter 3:Ammonia nitrogen</label>
        <input type="text" name="parameter" id="parameter3">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter4">Parameter 4:TDS</label>
        <input type="text" name="parameter" id="parameter4">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter5">Parameter 5:Chloride</label>
        <input type="text" name="parameter" id="parameter5">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <input type="submit" value="Calculate LPI">
        <label> LPI Inorganic</label>
        <input type="text" value= "{{lpiinorganic}}"class="form-control">
    </form>
</body>
</html>

 </body>
</html>
{% endblock %}