{% extends 'base.html' %}
{% block title %}LPI Subindex{% endblock title %}

{% block body %}

  
  <form method="POST">
    {% csrf_token %}
   <html>
<head>
    <title>LPI Sub index</title>
</head>
<body>
    <h2>Heavy Metals Index Calculator</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="parameter1">Parameter 1:Total chromium</label>
        <input type="text" name="parameter" id="parameter1">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter2">Parameter 2:Lead</label>
        <input type="text" name="parameter" id="parameter2">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter3">Parameter 3:Mercury</label>
        <input type="text" name="parameter" id="parameter3">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter4">Parameter 4:Arsenic</label>
        <input type="text" name="parameter" id="parameter4">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter5">Parameter 5:Cyanide</label>
        <input type="text" name="parameter" id="parameter5">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter6">Parameter 6:Zinc</label>
        <input type="text" name="parameter" id="parameter6">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter7">Parameter 7:Nickel</label>
        <input type="text" name="parameter" id="parameter7">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter8">Parameter 8:Copper</label>
        <input type="text" name="parameter" id="parameter8">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <label for="parameter9">Parameter 9:Iron</label>
        <input type="text" name="parameter" id="parameter9">
        <label for="parameter value">Parameter value:</label>
        <input type="text" name="value" id="parameter value">
        <br><br>
        <input type="submit" value="Calculate LPI">
        <label> LPI Heavy metals</label>
        <input type="text" value= "{{lpiheavymetals}}"class="form-control">
    </form>
</body>
</html>

 </body>
</html>
{% endblock %}